* {
	margin: 0;
	padding: 0;
}

.header {
	position: relative;
	width: 100%;
	height: 480px;
	background-image: url("./img/header.jpg");
	background-position: center;
}

.header-text {
	font-family: 'Times New Roman', Times, serif;
	position: absolute;
	top: 50%;
	right: 40%;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

main {
	max-width: 1320px;
	margin: 0 auto;
}

section {
	margin: auto 10px;
}

h2 {
	text-decoration: underline;
	margin-top: 10px;
}

h2::first-letter {
	color: maroon;
}

.profile {
	padding: 10px;
}

.name {
	height: 1.1em;
	vertical-align: text-top;
}

.category {
	padding: 0 10px;
}

h3 {
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 5px;
}

h3:before {
	content: "◇ ";
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;
}

.card {
	box-sizing: border-box;
	width: 120px;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 5px;
	text-align: center;
	font-size: smaller;
	line-height: 2;
}

.card img {
	margin: 0;
	width: 48px;
	height: auto;
}

.skill {
	position: relative;
	margin-bottom: 5px;
}

.skill_score {
	font-size: 20px;
}

.skill_detail {
	position: absolute;
		top: 15px;
		left: 10px;
	display: none;
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 5px;
	line-height: 1.2;
	color: #000;
	background-color: lightyellow;
}

.skill_score:hover + .skill_detail {
	display: block;
}

.create, .admin, .user {
	text-align: center;
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #fff;
}

.create {
	background-color: #0d6efd;
}

.create_link {
	text-decoration: none;
	color: #fff;
}

.create_link:visited {
	background-color: #0a53be;
	color: #fff;
}

.create_link:hover {
	background-color: #0a53be;
	color: #fff;
}

.card .github_link {
	width: 20px;
	margin-left: 3px;
	border-radius: 10px;
	vertical-align: middle;  /* 縦位置をそろえる */
	background-color: #fff;
}

.admin {
	background-color: #198754;
}

.user {
	background-color: gray;
}

.tool_link {
	color: #000;
}


footer {
	background-color: #dadfeb;
	padding: 10px;
	margin:50px auto;
	font-size: small;
	text-align: center;
}

pre {
	width: 800px;
  padding: 10px;
  color: #444; 
  background-color: #e7edf3;
  border-radius: 8px;
  border: solid 1px #ccc;
}

@media screen and (max-width: 1294px) {
  main {
		max-width: 1140px;
	}
}

@media screen and (max-width: 1154px) {
  main {
		max-width: 1000px;
	}
}

@media screen and (max-width: 1014px) {
  .header {
    height: 360px;
  }

  main {
		max-width: 860px;
	}
}

@media screen and (max-width: 874px) {
  main {
		max-width: 720px;
	}
}

@media screen and (max-width: 734px) {
  .header {
    height: 240px;
  }

  main {
		max-width: 580px;
	}
}

@media screen and (max-width: 594px) {
  .header {
    height: 200px;
  }

	.header-text {
		top: 60%;
		right: 10%;
	}

	main {
		max-width: 440px;
	}
	
}

@media screen and (max-width: 454px) {
	main {
		max-width: 300px;
	}
	
}


